---
import InfoBox from './ui/InfoExperienceCard.astro'

const dataJobs = [
  {
    date: 'Enero/2024 - Presente',
    description:
      'Actualmente, trabajo en el desarrollo de portales internos para Movistar Ecuador. He realizado la creación de una plataforma con las últimas tecnologías, mejorando el rendimiento y la usabilidad del portal.',
    nameCompany: 'INDRA COMPANY',
    position: 'Software Engineer',
    subPosition: 'Desarrollador React',
  },
  {
    date: 'Diciembre/23 - Noviembre/22',
    description:
      'Participé en el desarrollo de la aplicación móvil de Colsanitas para Colombia, logrando reducir significativamente los tiempos de ingreso al acceder al módulo de centro médico virtual.',
    nameCompany: 'INDRA COMPANY',
    position: 'Software Engineer',
    subPosition: 'Desarrollador React Native',
  },
  {
    date: 'Junio/21 - Noviembre/22',
    description:
      'Participé en el desarrollo de aplicaciones para empresas privadas y públicas, implementando metodologías para mejorar el área de desarrollo y la calidad del software.',
    nameCompany: 'AGENCIA DROI',
    position: 'Lider Tecnico',
    subPosition: 'Lider tecnico del equipo de desarrollo',
  },
  {
    date: 'Septiembre/18 - Junio/21',
    description:
      'Participé en el desarrollo del producto principal de la empresa, implementando nuevas tecnologías y buenas prácticas de programación para mejorar su calidad y funcionalidad.',
    nameCompany: 'AGENCIA DROI',
    position: 'Desarrollador de Software',
    subPosition: 'Desarrollador FullStack',
  },
]
---

<h1 class="text-5xl font-semibold">Experiencia</h1>
<div class="flex flex-col gap-12 mt-10 mb-14">
  {
    dataJobs.map(
      ({ date, description, nameCompany, position, subPosition }) => {
        return (
          <InfoBox
            date={date}
            description={description}
            nameCompany={nameCompany}
            position={position}
            subPosition={subPosition}
          />
        )
      }
    )
  }
</div>
