---
import ProyectCard from '../components/ui/ProyectCard.astro'

const dataProyects = [
  {
    name: 'ELAMT',
    description:
      'Plataforma web LMS (Learning Management System) desarrollada para la gestión y administración de cursos en línea. De la Escuela Latinoamericana de Medicina Transfucional.',
    participation:
      'He sido desarrollador y lider tecnico del pryecto ELAMT, gestionando el equipo de desarrollo y asegurando la calidad del código. Implementando nuevas funcionalidades y optimizando el rendimiento de la plataforma. ',
    image: 'elamt',
    imageSize: 'web',
    languages: ['React', 'TypeScript', 'postgreSQL', 'CSS', 'JavaScript', 'C#', '.NET', 'gitlab', 'CI/CD'],
  },
  {
    name: 'Expo bosques 2.0',
    description:
      'Expo Bosques es una plataforma web desarrollada para exhibir los proyectos llevados a cabo por el proyecto ProBosques.',
    participation:
      'He sido parte del equipo de desarrollo de la plataforma web de Expo Bosques, grantizando su integración con la utilización de una API centralizada. Cumpliendo con las espectativas del cliente.',
    image: 'expobosques 2.0',
    imageSize: 'web',
    languages: ['React', 'TypeScript', 'postgreSQL', 'CSS', 'JavaScript', 'Slim', 'php'],
  },
  {
    name: 'App Colsanitas',
    description:
      'La aplicación Colsanitas fue desarrollada para ayudar a los usuarios a agilizar trámites relacionados con su servicio de salud.',
    participation:
      'He participado en el desarrollo de la aplicación móvil de Colsanitas, donde contribuí a la migración de la aplicación a React Native 0.70 y al mejoramiento de los tiempos de acceso a Mi Salud Digital.',
    image: 'colsanitas',
    imageSize: 'mobile',
    languages: ['React Native', 'TypeScript', 'Firebase'],
  },
  {
    name: 'Weather APP',
    description:
      'Weather APP es una aplicación diseñada para ofrecer información precisa sobre el estado del clima.',
    participation:
      'He participado activamente en la colaboración de este proyecto, buscando mejorar y fortalecer mis habilidades de desarrollo. A través de esta experiencia, he tenido la oportunidad de explorar y dominar nuevas tecnologías.',
    image: 'weather',
    imageSize: 'mobile',
    languages: ['React JS', 'Vite', 'TypeScript', 'CSS'],
  },
  {
    name: 'Calculadora BioFix',
    description:
      'Esta herramienta ha sido desarrollada con el propósito de calcular la huella de carbono producida tanto por empresas como por personas individuales.',
    participation:
      'He participado en el desarrollo completo de la página de BioFix, centrándome especialmente en la creación de la calculadora utilizando React para mejorar la experiencia del usuario.',
    image: 'biofix',
    imageSize: 'web',
    languages: ['React JS', 'CSS'],
  },
  {
    name: 'Expo Bosques',
    description:
      'Expo Bosques es una plataforma web y una aplicación móvil desarrollada para exhibir los proyectos llevados a cabo por el proyecto ProBosques.',
    participation:
      'He sido parte del equipo de desarrollo de la plataforma web de Expo Bosques, garantizando su integración fluida con la aplicación móvil mediante la utilización de una API centralizada. Cumpliendo con las espectativas del cliente.',
    image: 'expobosques',
    imageSize: 'web',
    languages: ['React Native', 'php', 'Slim', 'JavaScript', 'HTLM', 'CSS'],
  },
  {
    name: 'Gesadmin',
    description:
      'Gesadmin es un gestor administrativo diseñado para asistir a pequeñas y medianas empresas en el control más efectivo de sus operaciones comerciales.',
    participation:
      'Contribuí a mejorar el rendimiento del proyecto mediante optimizaciones en la base de datos y en el código nativo, aplicando buenas prácticas de programación.',
    image: 'gesadmin',
    imageSize: 'web',
    languages: ['php', 'MySql', 'CSS', 'HTML', 'JavaScript'],
  },
]
---

<section id="proyects" class="w-full max-w-6xl md:mx-auto mt-12">
  <h1 class="text-5xl font-semibold">Proyectos</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 my-5">
  {
    dataProyects.map(
      ({ name, description, participation, image, languages, imageSize }) => {
        return (
          <ProyectCard
            name={name}
            description={description}
            participation={participation}
            image={image}
            languages={languages}
            imageSize={imageSize}
          />
        )
      }
    )
  }
  </div>
</section>
