---
interface Props {
  date: string
  nameCompany: string
  position: string
  subPosition: string
  description: string
}
const { date, nameCompany, position, subPosition, description } = Astro.props
---

<div
  class="flex gap-10 relative pt-10 pb-5 px-5 md:px-10 bg-[#4141414d] border-solid border border-[#5b5b5b33] rounded-md shadow-[0px_1px_20px_0px_#00000094] backdrop-blur-sm"
>
  <div
    class="absolute top-[2px] md:top-auto right-[2px] md:right-5 bg-[#15161a] px-3 md:px-10 rounded-2xl py-2 text-xs md:text-sm text-center"
  >
    <span>{date}</span>
  </div>
  <div
    class="
    px-5 md:px-10 rounded-2xl py-2 text-xs md:text-sm text-center w-36 md:w-52
    absolute left-1 top-[-20px] 
    bg-gradient-to-r from-[#E03C47] from-0% via-[#AB35A0] via-30% to-[#8222A5] to-100% font-bold text-white "
  >
    <span>{nameCompany}</span>
  </div>
  <div class="flex-1 flex flex-col">
    <h3 class="text-center md:text-left text-2xl md:text-3xl font-bold">{position}</h3>
    <span class="text-center md:text-left text-sm md:text-base font-light">{subPosition}</span>
    <p class="mt-4 w-full md:w-5/5 lg:w-4/5 font-normal text-balance md:text-pretty text-base md:text-lg">{description}</p>
  </div>
</div>
