---
interface Props {
  date: string
  nameCompany: string
  position: string
  subPosition: string
  description: string
}
const { date, nameCompany, position, subPosition, description } = Astro.props
---

<div
  class="flex gap-10 relative pt-10 pb-5 px-10 my-12 bg-[#4141414d] border-solid border border-[#5b5b5b33] rounded-md shadow-[0px_1px_20px_0px_#00000094] backdrop-blur-sm"
>
  <div
    class="absolute right-5 bg-[#15161a] px-10 rounded-2xl py-2 text-sm text-center"
  >
    <span>{date}</span>
  </div>
  <div
    class="absolute left-5 top-[-20px] bg-gradient-to-r from-[#E03C47] from-0% via-[#AB35A0] via-30% to-[#8222A5] to-100% font-bold text-white px-10 rounded-2xl py-2 text-sm text-center w-52"
  >
    <span>{nameCompany}</span>
  </div>
  <div class="flex-1 flex flex-col">
    <h3 class="text-3xl font-bold">{position}</h3>
    <span class="text-base font-light">{subPosition}</span>
    <p class="mt-4 w-4/5 font-normal text-lg">{description}</p>
  </div>
</div>
