---
interface Props {
  name: string
  description: string
  participation: string
  image: string
  imageSize: string
  languages: string[]
}

const { name, description, participation, image, languages, imageSize } =
  Astro.props
---

<div
  class="bg-[#4141414d] border-solid border border-[#5b5b5b33] rounded-md shadow-[0px_1px_20px_0px_#00000094] backdrop-blur-sm p-6"
>
  <h3 class="text-center text-3xl font-semibold mb-2">{name}</h3>
  <p class="text-sm font-light leading-4 h-11 text-pretty overflow-hidden">
    {description}
  </p>
  <img
    class={`aspect-video object-contain w-80 mx-auto my-6`}
    src={`/img/${image}.png`}
    alt={`imagen proyecto ${name}`}
    loading="lazy"
  />
  <p class="text-base font-light h-36 text-pretty overflow-hidden">
    {participation}
  </p>
  <ul
    class="flex gap-2 w-auto flex-wrap mt-3 pt-5 justify-start border-t border-[#141010] [&>li]:text-sm [&>li]:text-center [&>li]:font-light [&>li]:bg-gradient-to-r from-[#603ce0] from-0% via-[#355eab] via-15% to-[#2280a5] to-100% [&>li]:rounded-md [&>li]:px-4"
  >
    {
      languages &&
        languages.map((language) => {
          return <li>{language}</li>
        })
    }
  </ul>
</div>
